@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', Helvetica, sans-serif;
    font-size: 13px;
}

body {
    /* todo o conteúdo que ultrapassar 100vw é ignorado */
    overflow-x: hidden;
}

header {
    width: 100%;
    height: 100px;
    background-color: black;
}

.header {
    max-width: 1140px;
    height: 100px;
    margin: auto;
    display: flex;
    color: white;
    align-items: center;
}

.logoimg {
    width: 80px;
    height: 80px;
    background-color: #B28756;
    border-radius: 50%;
}

.logo {
    width: 100px;
}

/* para ocupar o restante da div header */
.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
}

.menu li a {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    padding: 38px 10px 38px 10px;
}

.menu li a:hover {
    border-bottom: 3px solid #B28756;
    color: #CCC;
}

.menu .active a {
    border-bottom: 3px solid #B28756;
    color: #CCC;
}

.banner {
    /* para que o banner ocupe a tela toda do usuário */
    height: calc(100vh - 100px);
    background-color: #333;
    background-image: url('../img/bg.jpg');
    /* ajustando a img ao espaço */
    background-size: cover;
    /* priorizando a parte inferior da img */
    background-position: bottom;
    /* remove as barras de rolagem, ocultando o conteúdo */
    overflow: hidden;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    width: 100vw;
    height: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.8);
}

.banner .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.banner h1 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #B28756;
    font-size: 50px;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
    font-size: 22px;
}

.banner a {
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 20px;
}

.banner a:hover {
    background-color: #b4752d;
}

.banner .sliders-pointers {
    width: 100%;
    height: 20px;
    margin-top: -50px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.banner .pointer.active {
    background-color: #B28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
}

.default .section-title {
    font-size: 20px;
}

.default .section-desc {
    font-size: 13px;
    color: #CCC;
    margin-top: 10px;
    margin-bottom: 40px;
}

.default .section-body {
    max-width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #F7F7F7;
}

.default.light .section-title,
.default.light .section-body {
    color: black;
}

.default.dark {
    background-color: black;
}

.default.dark .section-title,
.default.dark .section-body {
    color: white;
}

.button {
    display: inline-block;
    background-color: #B28756;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
    padding: 10px 30px;
    font-weight: 600;
    margin-top: 20px;
    border-radius: 20px;
}

.button:hover {
    background-color: #b4752d;
}

/* CSS de áreas especificas */

.section-aboutus {
    display: flex;
    text-align: justify;
}

.section-aboutus--left {
    flex: 1;
    border-right: 1px solid #CCC;
    padding: 10px;
}

.section-aboutus--right {
    width: 500px;
    text-align: center;
}

.section-aboutus--right img {
    width: 480px;
    box-shadow: 0px 5px 10px #333;
}

.section-aboutus--left p {
    font-size: 14px;
    line-height: 25px;
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}

.section-service p {
    margin-top: 10px;
    font-size: 13px;
    color: #999;
}

.section-service img {
    width: 50px;
}

.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #CCC;
    background-color: #EEE;
    border-radius: 30px;
    display: inline-block;
    padding: 0px 20px;
}

.section-projects--filters ul,
.section-projects--filters il {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    border-left: 1px solid #CCC;
    color: #555;
    border-bottom: 3px solid #EEE;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom: 3px solid #B28756;
}

.section-projects--filters li:first-child {
    border-left: 0px;
}

.section-projects--photos {
    width: 100%;
    max-width: 1140px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
    cursor: pointer;
}

.section-projects--photoarea img {
    /* herdando da div pai */
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.section-projects--photoinfo h5 {
    font-size: 18px;
    font-weight: 600;
}

/* ao passar o mouse encima da photoarea, mudarei a propriedade da photoinfo */
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}

.bg-team {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0px;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    width: 280px;
    height: 100%;
    min-height: 300px;
    display: inline-block;
    background-color: white;
    margin-right: 20px;
}

.section-team .slidearea {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: black;
    flex-direction: column;
    padding: 30px;
}

.section-team-area .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.section-team-area .pointer.active {
    background-color: #B28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 30px;
}

.section-team--role {
    font-size: 14px;
    color: #999;
    margin-top: 5px;
}

.section-team--socials {
    display: flex;
    margin-top: 20px;
}

.section-team--socials a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    background-color: #CCC;
    border-radius: 50%;
    margin-right: 10px;
}

.section-team--socials a:hover {
    background-color: #B28756;
}

.default.ligth.happyClients .section-body {
    text-align: center;
}

.default.ligth.happyClients .section-body {
    text-transform: none;
}

.default.ligth.happyClients .section-body h3,
.default.ligth.happyClients .section-body span {
    color: black;
}

.default.ligth.happyClients .section-body span {
    color: #CCC;
}

.default.ligth.happyClients .section-body h3 {
    font-size: 22px;
}

.section-body {
    display: flex;
    flex-direction: column;
}

.default.ligth.happyClients .section-review {
    max-width: 800px;
    margin: auto;
    margin-bottom: 30px;
}

.default.ligth.happyClients .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default.ligth.happyClients .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.default.ligth.happyClients .pointer.active {
    background-color: #B28756;
}

.section-marcas {
    width: 100%;
    height: 150px;
    background-color: rgb(233, 233, 233);
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.section-logos {
    max-width: 1140px;
    display: flex;
    margin: auto;
    justify-content: space-between;
}

.section-logos .item {
    width: 150px; 
    margin-top: 50px;
}

.item img {
    margin-left: 30px;
}

.default.light.priceCat .section-body {
    display: flex;
    max-width: 1140px;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
}

.prices {
    width: 250px;
    height: 300px;
    background-color: rgb(233, 233, 233);
    text-align: center;
}

.buy a {
    padding: 10px 30px;
    background-color: #B28756;
    border-radius: 20px;
    text-decoration: none;
    color: white;
    display: inline-block;
    margin-top: 60px;
    cursor: pointer;
}

.price h1 {
    font-size: 30px;
}

.prices h1,
.prices span {
    margin-top: 30px;
    margin-bottom: 30px;
}

.type h1 {
    font-size: 14px;
}

.buy a:hover {
    background-color: #b4752d;
}

.default.light.product .section-body {
    display: flex;
    flex-direction: row;
    max-width: 800px;
    margin: auto;
    border-bottom: 1px solid black;
}

.info-title {
    font-size: 22px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.info-desc {
    color: #CCC;
    font-weight: 600;
}

.section-product-info .info-title {
    margin-left: 20px;
}

.section-product-info .info-desc {
    margin-left: 70px;
}

.section-product-info {
    display: flex;
    flex-direction: column;
}

.features {
    margin-bottom: 30px;
}

.default.light.product .sliders-pointers {
    margin-top: 30px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default.light.product .pointer {
    width: 15px;
    height: 15px;
    border: 2px solid #B28756;
    border-radius: 50%;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.default.light.product .pointer.active {
    background-color: #B28756;
}

.default.dark.facts .section-body {
    display: flex;
    flex-direction: row;
}

.section-facts-info {
    flex: 1;
    text-align: center;
}

.facts-title {
    color:#B28756;
    font-size: 50px;
    font-weight: 600;
}

.facts-subtitle {
    font-size: 22px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts-text {
    color: #CCC;
}

.facts-area {
    display: flex;
    width: 250px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bar {
    width: 30px;
    height: 3px;
    background-color: #CCC;
}

.section-socials {
    width: 100%;
    height: 60px;
    background-color: #CCC;
}

.section-socials-area {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.section-socials-info {
    display: flex;
    justify-content: space-between;
    margin: auto;
    margin-top: 20px;
}

.section-socials-img {
    width: 25px;
    height: 25px;
    background-color: red;
    border-radius: 50%;
}

.section-socials-img.share {
    background-color: transparent;
}

.section-socials-img.twitter {
    background-color: #00acee;
}

.section-socials-img.linkedin {
    background-color: #0e76a8;
}

.section-socials-img.facebook {
    background-color: #3b5998;
}

.section-socials-img.googleplus {
    background-color: #db4a39;
}

.section-socials-img.pinterest {
    background-color: #db4a39;
}

.section-socials-img.linkedin img,
.section-socials-img.googleplus img,
.section-socials-img.pinterest img {
    margin-top: 5px;
    margin-left: 5px;
}

.section-socials-img.twitter img {
    margin-top: 7px;
    margin-left: 5px;
}

.section-socials-img.facebook img {
    margin-top: 5px;
    margin-left: 7px;
}

.section-socials-txt {
    margin-left: 5px;
    color: #333;
    margin-top: 5px;
}

.default.light.contactus .section-body {
    display: flex;
    max-width: 900px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.contactus-info input,
.contactus-subject input {
    padding: 10px;
    border: 0px;
    border-bottom: 1px solid black;
    background-color: #F7F7F7;
    width: 200px;
}

.contactus-info input[type="email"] {
    margin-left: 50px;
}

.contactus-subject input {
    margin-top: 20px;
    width: 453.41px;
}

.contactus-subject.message {
    margin-top: 50px;
}

.button.message {
    display: inline-block;
    cursor: pointer;
    margin-top: 70px;
    margin-left: 155px;
    margin-bottom: 100px;
}